__pycache__/
.ipynb_checkpoints/
test/
weights/
pretrained_weights/
surrogate_dataset/
codec_backup.py
codec_tester.py
find_max_params.py
analysis/graphs/
logs/
*.job
!main.job
!grid_search.job
!re_eval.job
