__pycache__/
.ipynb_checkpoints/
test/
weights/
pretrained_weights/
surrogate_dataset/
surrogates/testing.py
codec_backup.py
codec_tester.py
find_max_params.py
analysis/graphs/
logs/
precog_eval.job
eval.job
stage_for_deletion/
conf_dmytro.toml
test_genome_test.py
targets.pkl
plots/
conf_kan.toml
kan/
kaneffKAN/
kanKAN
eval.job
test_eval.job
precog_eval.job
dmytro_repo/data/models/*.pth
dmytro_repo/data/models/custom/
dmytro_repo/data/results/
dmytro_repo/logs/
dmytro_repo/old_logs/
dmytro_repo/output/checkpoints/
dmytro_repo/output/models/
dmytro_repo/predictions.pkl
dmytro_metrics/*/
dmytro_metrics/*.csv
results_surrogate_evolution/
aot_data/train/Images/*
aot_data/val/Images/*
**/*.jpg files
**/*.pkl
**/*.csv
**/*.png
test_eval/*
release3/*
surrogate_weights/*